:root{
  --btcOrange: #FF9900;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html, body {
  scroll-behavior:smooth;
  height: 100%;
  background-color: #343a40;
  color: #f8f9fa;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-info {
  display: flex;
  /*Put in absolute center of page*/
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;  

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sharePost{
  display: flex;
  /*Put in absolute center of page*/
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;   

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-link{
  font-size: 150%;
  color: lightgray;
  text-decoration: underline;
}
.text-link:hover{  
   transition: .5s ease-in-out;
   color: black;
   background-color: var(--btcOrange);
}
.component {
  background-color: #343a40;
  color: #f8f9fa;
  height: 100vh;
  position: relative; 
}

.typed-text{
  font-size: 5rem;
}
.uploadedImage{
  max-width: 85%;
  max-height: 35rem;
}
.description-input{
  resize:both;
}




/*********************POSTS*********************/

.ImageFeedImage{
  margin: auto;
  width: 50%;
}
.uploadedImage{
  max-height: 20rem;
}
.post-header{
  max-height: 9.3rem;
}




/*********************NavBar*********************/
.navbar{
  height:5rem;
}
.navbar-toggler{
  z-index: 3;
}
.cryptogram-logo{
  transform: scale(1.8);
}

.navbar-nav > li.active, .navbar-nav > li.active:focus {
  padding: 0;
  border-bottom: 0.18rem solid gray
}

@media(max-width: 992px){
  .navbar{
    height:7rem;
  }
}
/*********************Profile Page*********************/

.myAccount{
  
  display: flex;
  /*Put in absolute center of page*/
  position: absolute;
  top:20%;
  left:0;
  right:0;
  bottom:0;   

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
}
.username-bio{
  text-align:center;
  align-items:center;
  white-space: nowrap;
  padding-bottom:5%;
  float:center;

}
.manual-span-size{
  font-size: small;
  font-weight: lighter;
}
.centered-user-info{
  display:inline;  
  float:center;
}
.cursor-pointer{
  cursor:pointer;
}

.edit-user-value{
  display:inline;
  cursor:pointer;
  padding-left:1%;
}
.edit{
  display: inline;
  text-align:right;
  float:right;
  cursor: pointer;
}
.profile-box{
  width:80%; 
  height: 30rem;
}
.my-comments{
  max-height: 20rem;
}
.profile-picture{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.infoImage{
  max-width: 1.5rem;
  float: left;
}

