.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html, body {
  scroll-behavior:smooth;
  height: 100%;
}
.customNav{
  padding:5rem;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-info {
  display: flex;
  /*Put in absolute center of page*/
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;  

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.component {
  background-color: #343a40;
  color: #f8f9fa;
  height: 100vh;
  position: relative;    
}

.typed-text{
  font-size: 5rem;
}
.uploadedImage{
  max-width: 85%;
  max-height: 35rem;
}